{% extends 'base.html' %}
{% block title %}Détail de l'Archive{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto">
    <h1 class="text-3xl font-semibold mb-6">Détail de l'Archive</h1>
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">{{ archive.name }}</h3>
        </div>
        <div class="border-t border-gray-200">
            <dl>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Catégorie</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ archive.category.name }}</dd>
                </div>
                
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Date Enregistrée</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ archive.date_registered }}</dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Document Numérique</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {% if archive.document %}
                            <div class="overflow-auto">
                                <img src="{{ archive.document.url }}" alt="Document Image" class="w-auto h-auto" id="documentImage" />
                            </div>
                        {% else %}
                            <p class="text-red-500">Le document numérique n'est pas disponible.</p>
                        {% endif %}
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</div>

<script>
    // Désactiver le clic droit
    document.addEventListener('contextmenu', event => event.preventDefault());

    // Désactiver certaines touches globalement
    document.addEventListener('keydown', function(event) {
        if (event.keyCode == 123) { // F12
            event.preventDefault();
        }
        if (event.ctrlKey && event.shiftKey && event.keyCode == 73) { // Ctrl+Shift+I
            event.preventDefault();
        }
        if (event.ctrlKey && event.keyCode == 83) { // Ctrl+S
            event.preventDefault();
        }
        if (event.ctrlKey && event.keyCode == 80) { // Ctrl+P
            event.preventDefault();
        }
    });

    // Masquer le contenu lorsque la fenêtre perd le focus (pour empêcher les captures d'écran)
    let originalContent = document.body.innerHTML;
    window.onblur = function() {
        document.body.style.visibility = 'hidden';
    };
    window.onfocus = function() {
        document.body.style.visibility = 'visible';
    };
</script>

{% endblock %}
