{% extends 'base.html' %}
{% block title %}Liste des Catégories d'Archives{% endblock %}

{% block content %}
    <div class="max-w-4xl mx-auto">
        <h1 class="text-3xl font-semibold mb-6">Liste des Catégories d'Archives</h1>
        <a href="{% url 'archivecategory_add' %}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mb-4">Ajouter Catégorie</a>
        <br/><br/>
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nom</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                {% for category in categories %}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap">{{ category.name }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <a href="{% url 'archivecategory_edit' category.pk %}" class="text-blue-500 hover:text-blue-700 mr-2">Modifier</a>
                        <form action="{% url 'archivecategory_delete' category.pk %}" method="post" class="inline">
                            {% csrf_token %}
                            <button type="submit" class="text-red-500 hover:text-red-700">Supprimer</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
       
    </div>
{% endblock %}
