{% extends 'base.html' %}
{% block title %}Archive Créée{% endblock %}

{% block content %}
    <div class="max-w-md mx-auto mt-6">
        <div class="bg-white shadow-md rounded-lg p-6">
            <h2 class="text-2xl font-semibold mb-4">Archive Créée avec Succès</h2>
            <div class="bg-gray-100 p-4 rounded-lg shadow-inner">
                <p class="text-gray-700">Code de l'Archive:</p>
                <p class="text-lg font-bold">{{ archive.code }}</p>
            </div>
        </div>
    </div>
{% endblock %}
