{% extends 'base.html' %}
{% block title %}Suppression de section{% endblock %}

{% block content %}
    <div class="max-w-md mx-auto">
        <h1 class="text-2xl font-semibold mb-4">Suppression de section</h1>
        <form method="post">
            {% csrf_token %}
            <p>Es-tu sûr de vouloir supprimer cette section "{{ section.title }}"?</p>
            <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">Supprimer</button>
            <a href="{% url 'physicaldocument_delete' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">Annuler</a>
        </form>
    </div>
{% endblock %}
